body {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin: 20px;
 background-color: #de2f2f;
}
header {
 background: #e0e0e0;
 padding: 10px;
 text-align: center;
}
nav a {
 margin: 0 10px;
 text-decoration: none;
 color: #333;
}
form {
 background: #fff;
 padding: 15px;
 border: 1px solid #ccc;
}